################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Lab.Mediator.ValidationExample.Core/obj
/Lab.Mediator.ValidationExample.Application/bin/Debug/net9.0
/Lab.Mediator.ValidationExample.Application/obj
/Lab.Mediator.ValidationExample.Core/bin/Debug/net9.0
